---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/entries/en/mindfulness/sentences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Key:
      - 335463c48b94bd550c0894d0151b5bff
      App-Id:
      - 489a3387
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "mindfulness",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "sentences": [
                                {
                                    "regions": [
                                        "North American"
                                    ],
                                    "senseIds": [
                                        "m_en_gbus0645350.006"
                                    ],
                                    "text": "So mindfulness of drinking is already one kind of enlightenment."
                                },
                                {
                                    "regions": [
                                        "Canadian"
                                    ],
                                    "senseIds": [
                                        "m_en_gbus0645350.009"
                                    ],
                                    "text": "Meditation is one way to ex[...]
